
.rubik-microbe-regular {
  font-family: "Rubik Microbe", system-ui;
  font-weight: 400;
  font-style: normal;
}
.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}
